@import 'mixin.scss';
.overviewWrap {
  @include bis('../../assets/images/overview/overviewBg.png');
  .leftLabel{
    position: absolute;
    background: url('../../assets/images/overview/leftLabel.png') no-repeat;
    background-size: 100%;
    background-position: right bottom;
    @include fj(flex-start);
    @include wh(235px, 60px);
    .labelContent {
      align-items: center;
      @include fj(flex-start);
      @include wh(205px, 30px);
      background: rgba(0,0,0,0.4);
      .txt {
        display: block;
        line-height: 35px;
        @include sc(18px, #00fcff);
      }
    }
  }

  .leftLabel1 {
    top: 342px;
    left: 577px;
  }

  .leftLabel2 {
    top: 252px;
    left: 710px;
  }
  .leftLabel3 {
    top: 225px;
    left: 870px;
  }

  .leftLabel4 {
    top: 159px;
    left: 1063px;
  }

  .leftLabel5 {
    top: 95px;
    left: 1105px;
  }

  .leftLabel6 {
    top: 110px;
    right: 310px;
  }

  .leftLabel7 {
    top: 145px;
    right: 80px;
  }

  .rightLabel {
    position: absolute;
    background: url('../../assets/images/overview/rightLabel.png') no-repeat;
    background-size: 100%;
    background-position: right bottom;
    @include fj(flex-end);
    @include wh(235px, 60px);

    .labelContent {
      align-items: center;
      @include fj(flex-start);
      @include wh(205px, 30px);
      background: rgba(0, 0, 0, 0.4);

      .txt {
        display: block;
        line-height: 35px;
        @include sc(18px, #00fcff);
      }
    }
  }

  .rightLabel1 {
    top: 195px;
    right: 190px;
  }

  .rightLabel2 {
    top: 305px;
    right: 500px;
  }

  .rightLabel3 {
    top: 498px;
    right: 418px;
  }

  .rightLabel4 {
    top: 395px;
    right: 320px;
  }

  .rightLabel5 {
    top: 580px;
    right: 500px;
  }

  .rightLabel6 {
    top: 670px;
    right: 625px;

  }
}
